/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 30px auto;
  line-height: 1.4;
  background: #fff;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper h1 {
  font-size: 70px;
}

.content-wrapper h2 {
  font-size: 55px;
}

.content-wrapper h3 {
  font-size: 40px;
}

.content-wrapper h4 {
  font-size: 33px;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 30px;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
}

.content-wrapper p {
  font-size: 18px;
}

.content-wrapper .weight400 {
  font-weight: 400;
}

.content-wrapper a {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

.content-wrapper button {
  color: #212121;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
}

.content-wrapper .slick-arrow {
  color: #424649;
  background: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

.scm, .science, .story, .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.science, .video-carousel {
  background: url("../../images/brushsteel.jpg");
  background-size: 100% 100%;
  width: 1280px;
}

.content-wrapper h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.content-wrapper button {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}

.content-wrapper button:hover {
  background: #0061f3;
  border: 1px solid #00388D;
  color: #fff;
}

.scm .hero {
  margin-bottom: -4px;
}

.scm .hero img {
  width: 992px;
  max-width: none;
}

.scm .info {
  margin-left: -450px;
  background: url("../../images/molecule-pattern.svg");
  background-repeat: no-repeat;
  background-position: 100% 110%;
  background-size: 40% 40%;
}

.scm .info .info-text {
  padding-top: 80px;
  padding-right: 60px;
  padding-bottom: 80px;
  padding-left: 40px;
}

.scm .info .info-text p {
  width: 85%;
}

.science {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.science .supportImg {
  width: 70%;
}

.science .supportImg .supportImg-l {
  margin-top: 80px;
}

.science .supportImg .supportImg-r {
  width: 60%;
  float: right;
  margin-left: 40px;
  margin-top: 6px;
}

.science .chemicals {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.science .placard {
  text-align: center;
  padding: 30px 80px;
  margin: 50px auto;
  background-color: rgba(226, 251, 250, 0.15);
  border-top: 2px solid #3a8684;
  border-right: 1px solid #68bebc;
  border-bottom: 3px solid #419896;
  border-left: 1px solid #68bebc;
  -webkit-box-shadow: -4px 8px 20px 0px rgba(27, 63, 62, 0.2);
  box-shadow: -4px 8px 20px 0px rgba(27, 63, 62, 0.2);
}

.science .placard .placardLine {
  height: 6px;
  width: 50px;
  background-color: #68bebc;
  margin: 0 auto 2rem auto;
}

.science h6 {
  margin: 0 auto 20px auto;
  text-align: center;
  color: #68bebc;
  font-weight: 600;
}

.science .chemical {
  padding: 0 60px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.story {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.story .title {
  width: 50%;
  padding-left: 10%;
  margin-top: 24px;
}

.story .microscope {
  width: 35%;
  margin: -180px 0 -300px 0;
}

.story .traits {
  width: 30%;
  padding-left: 8.333333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 99;
}

.story .traits h3 {
  color: #68bebc;
}

.story .traits .trait {
  padding: 24px 10px;
}

.story .traits .dropsLine {
  height: 70px;
  width: 570px;
  margin-left: 22%;
  border-left: 1px solid #424649;
  border-bottom: 1px solid #424649;
}

.story .molecules {
  z-index: 1;
  width: 70%;
  padding-right: 8.333333%;
}

.video-carousel .video-thumbnail {
  color: #ffffff;
  max-width: 1068px;
  max-height: 150px;
  margin: 0 auto;
  background: url("../../images/scm-video.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px 80px;
}

.video-carousel .video-thumbnail i {
  padding-right: 20px;
  font-weight: 300;
}

.video-carousel .carousel {
  text-align: center;
}

.products {
  margin: 0;
  height: 765px;
  background: url("../../images/scm-products.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.products .info {
  padding-top: 8%;
  padding-left: 8.333333%;
  width: 40%;
}

.products .info .productsLine {
  height: 6px;
  width: 50px;
  background-color: #68bebc;
  margin-bottom: 2rem;
}

.products .info .cta {
  color: #68bebc;
  text-transform: uppercase;
  margin-top: 20px;
}



/*# sourceMappingURL=styles.css.map */
