@media only screen and (max-width: 599px) {
  .content-wrapper {
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 45px;
      }
      h3 {
        font-size: 39px;
      }
      h6 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
      button {
        font-size: 18px;
        padding: 10px 20px;
      }
  }
  .scm, .science, .story, .products {
    flex-direction: column;
    justify-content: center;
  }
  .science, .carousel {
    background:  url('https://www.dhccare.com/media/wysiwyg/content/product/scm/brushsteel-m.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 640px;
  }
  .scm {
    width: 100%;
    .hero {
      // height: 660px;
      // max-width: 640px;

      img {
        max-width: 640px;
        width: 100%;
      }
      .hero-text {
        position: absolute;
        top: 20px;
        text-align: center;
        width: 100%;
        h1 {
          display: inline-block;
          font-size: 36px;
        }
      }
    }
    .info {
      margin-top: -220px;
      margin-left: 0;
      background: none;
      text-align: center;
      width: 100%;
      .info-text {
        padding: 10px 20px;
        color: #FFFFFF;

        h1 {
          display: none;
        }
        h6 {
          width: 100%;
          font-size: 15px;
          margin: 0 0 18px 0;
        }
        .scm-cta {
          height: 30px;
        }
      }
    }
  } // scm
  .science {
    flex-direction: column;
    .supportImg-l {
      width: 30%;
      height: 100px;
      margin: 0;
      margin-left: -20px;
      order: 2;
    }
    .placard {
      margin: 50px 10px -20px 10px;
      padding: 10px;
      width: auto;
      height: auto;
      max-width: 640px;
      order: 1;
    }
    .chemicals {
      margin-top: 0;
      padding: 0 10px;
      width: 100%;
      order: 3;

      .chemical {
        padding: 0;
      }
    }
    .supportImg-r {
      width: 100%;
      margin: -10px 0 0 0;
      height: 44px;
      order: 4;

      img {
        width: 12%;
        float: right;
      }
    }
  } // science
  .story {
    .title {
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin-top: 10px;
      margin-bottom: 20px;
      order: 1;

      h2 {
        margin: 60px auto 20px auto;
        padding: 0;
      }
    }
    .microscope {
      display: none;
      order: 2;
    }
    .traits {
      text-align: center;
      padding: 0;
      width: 100%;
      order: 4;

      // .dropsLine {
      //   display: none;
      // }
    }
    .molecules {
      width: 100%;
      padding-right: 0;
      order: 3;
    }
  }// story
  .video-carousel {
    .video-thumbnail {
      .video-text {
        top: 0;
        left: 0;
        font-size: 38px;

        img {
          margin-right: 6px;
          margin-left: 10px;
        }
      }
    }
  } // video-carousel
  .products {
    background: none;

    .info {
      width: 100%;
      padding: 0;
      text-align: center;

      h2 {
        margin-top: 0;
      }

      .productsLine {
        margin: 0 auto 2rem auto;
      }
      .cta {
        margin-bottom: 40px;
      }
    }
    .productsImg-mobile {
      display: block;
    }
  }// products
} // 365 to 640
@media only screen and (max-width: 387px) {
  .content-wrapper {
    button {
      margin-top: 0;
    }
  }
  .scm {
    .info {
      .info-text {
        .scm-cta {
          height: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 363px) {
  .scm {
    .hero {
      height: 688px;
    }
    .info {
      .info-text {
        padding-top: 2px;

        h6 {
          margin: 0;
          font-size: 13px;
        }
        .scm-cta {
          height: 0;
          margin: 30px 0 16px 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .science, .carousel {
    background:  url('https://www.dhccare.com/media/wysiwyg/content/product/scm/brushsteel-t.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 1024px;
  }
  .scm {
    .hero {
      width: 40%;
      img {
        width: 1024px;
        // width: 415px;
      }
    }
    .info {
      margin-left: 0;
      background-position: 100% 130%;
      background-size: 50% 50%;

      .info-text {
        padding-right: 20px;
        padding-left: 20px;

        // h6 {
        //   line-height: 1.4;
        // }
      }
    }
  } // scm
  .science {
    padding-bottom: 70px;

    .supportImg-l {
      width: 17%;
      margin-top: 0;
      height: 270px;
    }
    .supportImg-r {
      margin: 0;
      width: 12%;
      height: 450px;
    }
    .placard {
    width: 70%;
    height: 326px;
    padding: 0 20px;
    margin: 50px 0 50px -24px;
    }
    .chemicals {
      margin-top: 0;
      width: 70%;

      .chemical {
        padding: 0;
      }
    }
  }
  .story {
    .title {
      width: 66%;
      padding-left: 8%;
      order: 1;
    }
    .microscope {
      width: 24%;
      margin: -180px 0 -250px 0;
      order: 2;
    }
    .traits {
      width: 100%;
      padding-left: 0;
      text-align: center;
      order: 4;

      .trait {
        width: 70%;
        margin: 0 auto;
      }
      // .dropsLine {
      //   display: none;
      // }
    }
    .molecules {
      width: 80%;
      margin: 0 auto;
      order: 3;
    }
  } // story
  .video-carousel {
    .video-thumbnail {
      width: 90%;

      .video-text {
        top: 5px;
        left: 8%;
      }
    }
    .carousel {
      margin-top: -50px;

      h2 {
        width: 500px;
        margin: 0 auto;
      }
    }
  } // video-carousel
  .products {
    height: 1051px;
    background: url('../../images/scm-products-t.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .info {
      width: 66%;
      padding-top: 0;
      padding-left: 8%;

      p {
        width: 60%;
        max-width: 260px;
      }
    }
  }

} // min 641 to max 1024
