@media only screen and (max-width: 640px) {
  .content-wrapper {
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 45px;
      }
      h3 {
        font-size: 39px;
      }
      h6 {
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }

  }
  .scm, .science, .story, .products {
    flex-direction: column;
    justify-content: center;
  }
  .science, .carousel {
    background:  url('https://www.dhccare.com/media/wysiwyg/content/product/scm/brushsteel-m.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 640px;
  }
  .scm {
    background-color: $gray700;
    // height: 650px;

    .hero {
      img {
        max-width: 640px;
        width: 100%;
      }
      .hero-text {
        position: absolute;
        top: 10px;
        text-align: center;
        width: 100%;
        h1 {
          display: inline-block;
          font-size: 36px;
        }
      }
    }
    .info {
      margin-top: -180px;
      margin-left: 0;
      background: none;
      text-align: center;
      width: 100%;
      .info-text {
        padding: 10px 20px;
        color: #FFFFFF;

        h1 {
          display: none;
        }
        h6 {
          width: 100%;
          font-size: 15px;
          line-height: 1.4;
          margin: 0;
        }
        .scm-cta {
          height: 30px;
        }
        button {
          padding: 10px 16px;
          // height: 20px;
        }
      }
    }
  } // scm
  .science {
    flex-direction: column;
    // .supportImg {
    //   width: 100%;
    // }
    .supportImg-l {
      width: 30%;
      height: 100px;
      margin: 0;
      margin-left: -20px;
      order: 2;
    }
    .placard {
      margin: 50px 10px -20px 10px;
      padding: 10px;
      width: auto;
      height: auto;
      max-width: 640px;
      order: 1;
    }
    .chemicals {
      margin-top: 0;
      padding: 0 10px;
      width: 100%;
      order: 3;

      .chemical {
        padding: 0;
      }
    }
    .supportImg-r {
      width: 100%;
      margin: -10px 0 0 0;
      height: 44px;
      order: 4;

      img {
        width: 12%;
        float: right;
      }
    }
  } // science
  .story {
    .title {
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin-top: 10px;
      order: 1;

      h2 {
        margin: 60px auto 20px auto;
        padding: 0;
      }
    }
    .microscope {
      display: none;
    }
    .traits {
      text-align: center;
      padding: 0;
      width: 100%;
      order: 3;

      .dropsLine {
        display: none;
      }
    }
    .molecules {
      width: 100%;
      padding-right: 0;
      order: 2;
    }
  }// story
  .video-carousel {
    .video-thumbnail {
      .video-text {
        top: 0;
        left: 0;
        font-size: 38px;

        img {
          margin-right: 6px;
          margin-left: 10px;
        }
      }
    }
  } // video-carousel
  .products {
    background: none;

    .info {
      width: 100%;
      padding: 0;
      text-align: center;

      h2 {
        margin-top: 0;
      }

      .productsLine {
        margin: 0 auto 2rem auto;
      }
      .cta {
        margin-bottom: 40px;
      }
    }
    .productsImg-mobile {
      display: block;
    }
  }// products
} //max width 640
