$scmTeal: #68bebc;

.scm, .science, .story, .products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.science, .carousel {
  background:  url('https://www.dhccare.com/media/wysiwyg/content/product/scm/brushsteel.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 1280px;
}
.content-wrapper {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .scm-btn {
    position: absolute;
    background: $scmTeal;
    border: 1px solid $scmTeal;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;

    &:hover {
      background: lighten($scmTeal, 20%);
      border: 1px solid $scmTeal;
      color: #fff;
    }
  }
  .slick-next, .slick-arrow {
    border: none;
  }
}

.scm {
  .hero {
    img {
      width: 992px;
      max-width: none;
    }
    h1 {
      display: none;
    }
  }
  .info {
    margin-left: -450px;
    background:  url("https://www.dhccare.com/media/wysiwyg/content/product/scm/molecule-pattern.svg"); background-repeat: no-repeat;
    background-position: 100% 110%;
    background-size: 40% 40%;

    .info-text {
      padding-top: 80px;
      padding-right: 60px;
      padding-bottom: 80px;
      padding-left: 40px;

      h6 {
        text-transform: none;
        width: 85%;
        line-height: 1.4;
      }
      a {
        margin-top: 40px;
      }
    }
  }
}

.science {
  flex-direction: row;
  flex-wrap: wrap;

  .supportImg-l {
    width: 30%;
    margin-top: 80px;
    order: 1;
  }
  .supportImg-r {
    width: 20%;
    float: right;
    margin-left: 40px;
    margin-top: 20px;
    order: 3;
  }
  .placard {
    width: 50%;
    height: 400px;
    text-align: center;
    padding: 30px 80px;
    margin: 50px 0 50px -80px;
    background-color: rgba(226, 251, 250, .15);
    border-top: 2px solid darken($scmTeal, 15%);
    border-right: 1px solid $scmTeal;
    border-bottom: 2px solid darken($scmTeal, 15%);
    border-left: 1px solid $scmTeal;
    box-shadow: -4px 8px 20px 0px darken(rgba(104, 190, 188, .2), 40%);
    order: 2;

    .placardLine {
      height: 6px;
      width: 50px;
      background-color: $scmTeal;
      margin: 0 auto 2rem auto;
    }
  }
    .chemicals {
      flex-direction: column;
      margin: 0 auto;
      width: 40%;
      margin-top: -340px;
      order: 4;
    }
  h6 {
      margin: 0 auto 20px auto;
      text-align: center;
      color: $scmTeal;
      font-weight: 600;
  }
  .chemical {
    padding: 0 60px;
    margin: 0 auto 20px auto;
    text-align: center;
  }
}

.story {
  flex-wrap: wrap;

  .title {
    width: 60%;
    padding-left: 10%;
    margin-top: 24px;
  }
  .microscope {
    width: 35%;
    margin: -180px 0 -250px 0;
    height: 800px;
  }
  .traits {
    width: 30%;
    padding-left: 8.333333%;
    flex-direction: column;
    z-index: 99;

    h3 {
      color: $scmTeal;
    }
    .trait {
      padding: 24px 10px;
    }
  }
  .molecules {
    z-index: 1;
    width: 70%;
    padding-left: 40px;
    margin-bottom: 24px;
  }
}
.video-carousel {
  .video-thumbnail {
    max-width: 1068px;
    max-height: 150px;
    margin: 0 auto;
    position: relative;

    .video-text {
      position: absolute;
      top: 30px;
      left: 60px;
      img {
        display: inline-block;
        margin-right: 22px;
        width: 40px;
        vertical-align: middle;
      }
      h4 {
        display: inline-block;
        vertical-align: middle;
        color: #ffffff;
      }
    }
    .video-button {
      margin-right: 20px;
      width: 34px;
      height: 34px;
      vertical-align: middle;
    }
  }
}
