$scmTeal: #68bebc;

.scm, .science, .story, .products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.science, .carousel {
  background:  url("../../images/brushsteel.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1280px;
}
.content-wrapper {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  button {
    background: #00388D;
    border: 1px solid #00388D;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;

    &:hover {
      background: lighten(#00388D, 20%);
      border: 1px solid #00388D;
      color: #fff;
    }
  }
}

.scm {

  .hero {
    // margin-bottom: -4px;

    img {
      width: 992px;
      max-width: none;
    }
  }
  .info {
    margin-left: -450px;
    background:  url("../../images/molecule-pattern.svg"); background-repeat: no-repeat;
    background-position: 100% 110%;
    background-size: 40% 40%;

    .info-text {
      padding-top: 80px;
      padding-right: 60px;
      padding-bottom: 80px;
      padding-left: 40px;

      p {
        width: 85%;
      }
    }
  }
}

.science {
  flex-direction: row;

  .supportImg {
    width: 70%;

    .supportImg-l {
      margin-top: 80px;
    }
    .supportImg-r {
      width: 60%;
      float: right;
      margin-left: 40px;
      margin-top: 6px;
    }
  }
  .chemicals {
    flex-direction: column;
  }
  .placard {
    text-align: center;
    padding: 30px 80px;
    margin: 50px auto;
    background-color: rgba(226, 251, 250, .15);
    border-top: 2px solid darken($scmTeal, 20%);
    border-right: 1px solid $scmTeal;
    border-bottom: 3px solid darken($scmTeal, 15%);
    border-left: 1px solid $scmTeal;
    box-shadow: -4px 8px 20px 0px darken(rgba(104, 190, 188, .2), 40%);

    .placardLine {
      height: 6px;
      width: 50px;
      background-color: $scmTeal;
      margin: 0 auto 2rem auto;
    }
  }
  h6 {
      margin: 0 auto 20px auto;
      text-align: center;
      color: $scmTeal;
      font-weight: 600;
  }
  .chemical {
    padding: 0 60px;
    margin: 0 auto 20px auto;
    text-align: center;
  }
}

.story {
  flex-wrap: wrap;

  .title {
    width: 50%;
    padding-left: 10%;
    margin-top: 24px;
  }
  .microscope {
    width: 35%;
    margin: -180px 0 -250px 0;
  }
  .traits {
    width: 30%;
    padding-left: 8.333333%;
    flex-direction: column;
    z-index: 99;

    h3 {
      color: $scmTeal;
    }
    .trait {
      padding: 24px 10px;
    }
    .dropsLine {
      height: 70px;
      width: 570px;
      margin-left: 22%;
      border-left: 1px solid $gray700;
      border-bottom: 1px solid $gray700;
    }
  }
  .molecules {
    z-index: 1;
    width: 70%;
    padding-right: 8.333333%;
  }
}
.video-carousel {
  .video-thumbnail {
    max-width: 1068px;
    max-height: 150px;
    margin: 0 auto;
    position: relative;

    .video-text {
      position: absolute;
      top: 30px;
      left: 60px;
      img {
        display: inline-block;
        margin-right: 22px;
      }
      h4 {
        display: inline-block;
        vertical-align: middle;
        color: #ffffff;
      }
    }
    .video-button {
      margin-right: 20px;
      width: 34px;
      height: 34px;
      vertical-align: middle;
    }
  }
  .carousel {
    margin-top: -75px;
    padding: 100px 0;
    text-align: center;

    .widget.block-products-list .add-button {
      font-weight: 400;
      // background: #00388D;
      // border: 1px solid #00388D;
      // color: #fff;
      // padding: 10px 20px;
      // margin-top: 20px;
      //
      // &:hover {
      //   background: lighten(#00388D, 20%);
      //   border: 1px solid #00388D;
      //   color: #fff;
      // }
    }
  }
}
.products {
  margin: 0;
  height: 765px;
  background: url('../../images/scm-products.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .info {
    padding-top: 8%;
    padding-left: 8.333333%;
    width: 40%;

    .productsLine {
      height: 6px;
      width: 50px;
      background-color: $scmTeal;
      margin-bottom: 2rem;
    }
    .cta {
      color: $scmTeal;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }
}
